.contains{
    display: grid;
    grid-template-columns: repeat(auto-fill,
    minmax(230px, 1fr));
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.options{
    display: flex;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    margin: 5%;
    border: none;
}

.selectors{
    background-color: #17c28e;
    border: none;
}