.background{
    position: fixed;
    height: 150%;
    width: 100%;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.OcQOG_rXO7q9CkvJi-au7wHaEK%26pid%3DApi&f=1&ipt=62f3978222cf166cdd93ba09abf851ec6b0ce84214976e5fdc2080c99f2a77fa&ipo=images');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 1000;
}

.contains{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Vibur', cursive;
    font-family: 'Abel', sans-serif;
    opacity: .95;
}

.title{
    color: #000000;
}

.form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    padding: 2%;
    background-color: #0000003d;
}

.username{
    background: #000000;
    color: #ffffff;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
    margin-left: 27%;
}

.usernameLabel{
    color: #000000;
    text-shadow: #000000;
}

.name{
    background: #000000;
    color: #ffffff;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
    margin-left: 27%;
}

.nameLabel{
    color: #000000;
    text-shadow: #000000;
}

.password{
    background: #000000;
    color: #ffffff;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
    margin-left: 20%;
}

.passwordLabel{
    color: #000000;
    text-shadow: #000000;
}

.repeat{
    background: #000000;
    color: #ffffff;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
    margin-left: 5%;
}

.repeatLabel{
    color: #000000;
    text-shadow: #000000;
}

.error{
    color: rgb(255, 16, 16);
}

.submit{
    width: auto;
    display: inline-block;
    margin-top: 10%;
    margin-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #3a5a40;
    border-color: #3a5a40;
    border: none;
    color: #a3b18a;
    cursor: pointer;
}