.contains{
    display: flex;
    flex-direction: column;
    height: 60vw;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(6, 102, 67);
    border: 6px solid rgba(25, 82, 79, 0.623);
    margin: 0 auto;
    margin-top: 5vh;
}

.name{
    font-size: 1.5em;
    margin: 15px;
    color: rgb(10, 214, 54);
}

.text{
    font-size: medium;
    text-align: center;
    color: rgb(71, 196, 71);
}

.image{
    object-fit: cover;
    width: 160px;
    height: 160px;
}

.link{
    text-decoration: none;
    color: rgb(32, 182, 112);
}


.button{
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
}